# Intro to Python

## Learning Objectives

- Ba able to use Jupyter Notebooks
- Understand the basics of Python
- Recognise the differences between Python and R

Python is pretty much universal 

- general programming language

R

- statisitical computing language

Both

In [1]:
# 1. variable assignment

my_fave_colour = "blue"

In [2]:
my_fave_colour

'blue'

In [3]:
# variable output
print(my_fave_colour)

blue

In [4]:
# 2. Data Types

In [5]:
character
numeric - integer/double
logical
datetime

NameError: name 'character' is not defined

In [6]:
# strings
type(my_fave_colour)

str

# A Key Distinction

In [7]:
# not run
my_fave_number <- 27

my_fave_number == c(27)

# output TRUE

NameError: name 'my_fave_number' is not defined

# Python stats indexes at 0

# Python bool values are Title Case not Upper Case

# Lists

## 1. creating with range()
## 2. list indexing

In [9]:
range(5, 10)

range(5, 10)

In [10]:
type(range(5, 10))

range

In [12]:
# range doesn't include top value
list(range(5, 10))

[5, 6, 7, 8, 9]

In [18]:
two_times_table = list(range(0, 22, 2))

two_times_table

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [15]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [20]:
# first item = 0th position
two_times_table[0]

0

In [21]:
# last item 
two_times_table[-1]

20

# 2.1 List Slicing

In [23]:
# doesn't include top slice
two_times_table[0:4]

[0, 2, 4, 6]

In [24]:
# implicit slicing -  first three
two_times_table[:3]

[0, 2, 4]

In [25]:
# implicit slicing -  final three
two_times_table[-3:]

[16, 18, 20]

# Task

In [28]:
things = list(("Apple", "Grape", 101, "Onion", False))

'' are always fine  
'' for function arguments that take strings  
"" allowed for text date

# Methods - list metods

In [29]:
# don't run 
some_function(arg1=..., arg2=...)

NameError: name 'some_function' is not defined

In [31]:
sum([1, 2, 3])

6

## Almost everything in python is an 'object'

(python is a object-oriented programing (OOP) language)

- functions are sometimes/often used in a way we're less used to in R

methods are functions that 'live' on classes/objects

In [35]:
numbers = [19, 67, 12, 9]

numbers.sort()

In [37]:
numbers.sort()

In [38]:
numbers

[9, 12, 19, 67]

In [39]:
# integers don't have this sort() method
my_list[-1].sort()

NameError: name 'my_list' is not defined

In python objects have

- attributes (vales associated with object class)
- methods (functions that can be applied to object/ associated with object class)

In [41]:
numbers

[9, 12, 19, 67]

More list methods

- `.pop()`
- `.remove()`
- `.append()`
- `.extend()`

All of these operate **in-place**

In [42]:
# removes the object, last by default, shows you what your removing
numbers.pop()

67

In [43]:
# adds 
numbers.append(68)

In [45]:
numbers

[9, 12, 19, 68]

In [46]:
# removes itum
numbers.remove(12)

In [47]:
numbers

[9, 19, 68]

Append and extend behave a little differently when we give them a list

In [48]:
numbers.append([72, 14, -9])

In [49]:
numbers
# This has made a list inside a list, not what we want

[9, 19, 68, [72, 14, -9]]

In [50]:
numbers.pop()
# take out the last thing i.e. the list

[72, 14, -9]

In [51]:
numbers

[9, 19, 68]

In [53]:
numbers.extend([72, 14, -9])
# adds the numbers

In [54]:
numbers

[9, 19, 68, 72, 14, -9]

Task - 5 minutes

Below is a vector containing the first 5 prime numbers

In [55]:
primes = [1, 2, 3, 5, 7]

Oops, 1 isn't prime. Remove it from the list.

Now add the next 3 prime numbers (11, 13, 17).

Now use the method reverse() to reverse the list. Print out the reversed list.

In [56]:
primes

[1, 2, 3, 5, 7]

In [57]:
primes.pop(0)

1

In [58]:
primes

[2, 3, 5, 7]

In [59]:
primes.extend([11, 13, 17])

In [60]:
primes

[2, 3, 5, 7, 11, 13, 17]

In [63]:
primes.reverse()
print(primes)

[17, 13, 11, 7, 5, 3, 2]

square brackets = list (mutable - able to change)
round brackets = tuple (immutable - unable to change)
squiggly brackets = dict

## Dictionaries

A lot like lists in R

In [65]:
person_info = {
    'name' : 'David',
    'age' : 17
}

In [67]:
person_info

{'name': 'David', 'age': 17}

In [68]:
person_info2 = {
    'name' : 'James',
    'name' : 'Jamie',
    'age' : 21
}

In [69]:
type(person_info2)

dict

In [71]:
type(person_info2['name'])

str

In [72]:
person_info2

{'name': 'Jamie', 'age': 21}

Dictionary Facts
key names must be unique  
any after usage of a keyname will overwrite the previous `k:v` pair  
key names should be strings

In [73]:
person_info2['age']

21

squiggly brackets for defining your dictonary  
square brackects for indexing your dictionary

In [74]:
person_info.keys()

dict_keys(['name', 'age'])

In [76]:
person_info.items()

dict_items([('name', 'David'), ('age', 17)])

Last useful bit  
'Python' equivlent of 'R's 'length()' is 'len()'

In [77]:
len(person_info)

2

In [78]:
person_info['favourite_nums'] = [3,4,3,5]

In [79]:
len(person_info)

3

In [81]:
student_info = {
    'Agnes' : 68,
    'Bobby' : 45,
    'Charlie' : {
        'age' :33,
        'gender' : 'Female'
    }
}

In [82]:
student_info['Charlie']['age']

33

Updating a dictionary

First Way

In [83]:
student_info['David'] = {'age' : 28, 'gender' : 'Male'}

In [84]:
student_info

{'Agnes': 68,
 'Bobby': 45,
 'Charlie': {'age': 33, 'gender': 'Female'},
 'David': {'age': 28, 'gender': 'Male'}}

Second Way (is a method)

In [85]:
student_info.update({'Elaine' : {'age' : 23, 'gender' : 'Non-binary'}})

In [86]:
student_info

{'Agnes': 68,
 'Bobby': 45,
 'Charlie': {'age': 33, 'gender': 'Female'},
 'David': {'age': 28, 'gender': 'Male'},
 'Elaine': {'age': 23, 'gender': 'Non-binary'}}

In [87]:
student_info.pop('David')

{'age': 28, 'gender': 'Male'}

In [88]:
student_info

{'Agnes': 68,
 'Bobby': 45,
 'Charlie': {'age': 33, 'gender': 'Female'},
 'Elaine': {'age': 23, 'gender': 'Non-binary'}}

While the `.pop(`) method exists for both `dict()` and `list()` types. It behaves differently in each case.