In [1]:
import numpy as np

In [2]:
my_array = np.array([1,2,3])

print(my_array)

[1 2 3]

In [3]:
my_2d_array = np.array([[1,2,3],[4,5,6]])

print(my_2d_array)

[[1 2 3]
 [4 5 6]]

In [4]:
#1d array
my_array[1]

2

In [5]:
# 2d array
my_2d_array[1,2]

6

## Pandas

In [6]:
import pandas as pd

### Make a Dataframe

In [8]:
instructors_data = {
    'name' : ["Steph", "Jamie", "david", "Lloyd", "John"],
    'favourite_number': [7,12,3,9,4]
}

instructors_data

{'name': ['Steph', 'Jamie', 'david', 'Lloyd', 'John'],
 'favourite_number': [7, 12, 3, 9, 4]}

In [9]:
type(instructors_data)

dict

In [10]:
instructors_dataframe = pd.DataFrame(instructors_data)

instructors_dataframe

    name  favourite_number
0  Steph                 7
1  Jamie                12
2  david                 3
3  Lloyd                 9
4   John                 4

In [11]:
# same asabove just misses a few steps
instructors_data = pd.DataFrame({
    'name' : ["Steph", "Jamie", "david", "Lloyd", "John"],
    'favourite_number': [7,12,3,9,4]
}
)

help is a `?` at the end of the varabile 

`shift+tab`

In [12]:
instructors_dataframe = pd.DataFrame({
    'name' : ["Steph", "Jamie", "david", "Lloyd", "John"],
    'favourite_number': [7,12,3,9,4]},
    index = [1,2,3,4,5]

)

instructors_dataframe

    name  favourite_number
1  Steph                 7
2  Jamie                12
3  david                 3
4  Lloyd                 9
5   John                 4